    .container {
      max-width: 700px;
    }
    .weather-app {
      border: 0.5px solid #2e2c4c;
      border-radius: 20px;
      padding: 15px;
      margin: 10px;
      font-family: "Noto Sans JP", sans-serif;
      color: #2e2c4c;
      box-shadow: 7px 5px 5px -2px rgb(0 0 0 / 23%);
      font-family: "Mochiy Pop One", sans-serif;
      font-family: "Permanent Marker", cursive;
    }
    .Weather-info {
    margin-top: 20px;
  }
  .temperature-container {
    margin: 20px 0 10px;
  }
    h1 {
      color: #272142;
      font-size: 58px;
      font-weight: 700;
      line-height: 48px;
      margin: 20px 0 10px;
    }
    ul {
      margin: 0 0 10px;
      padding: 0;
    }
    li {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin-bottom: 5px;
    }
    .temperature {
      color: #212121;
      font-size: 48px;
      font-weight: 200;
    }
    .units {
      color: #212121;
      font-size: 20px;
      font-weight: 300;
      line-height: 1;
      position: relative;
      top: -26px;
    }
    .weather-icon {
      height: 70px;
      width: 70px;
      margin: 15px 0;
    }
    .weather-forecast {
      margin-top: 20px;
      text-align: center;
    }
    .weather-forecast-date {
      font-size: 16px;
    }
    .info {
        text-align: center;
        display: block;
    }
    a {
      text-decoration-line: none;
    }